* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: #006E7F;
}

#level-title, #start, #restart {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5% 5% 5% 5%;
  color: #FEF2BF;
}

#level-title:hover, .btn, #start, #restart{
  cursor: pointer;
}

.container {
  display: block;
  width: auto;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.hidden {
  display: none;
}


.red {
  background-color: #EE5007;
}

.green {
  background-color: #B4FF9F;
}

.blue {
  background-color: #5534A5;
}

.yellow {
  background-color: #F8CB2E;
}